/* All styles for your Card Components live here */

.card-container { 
    border: 1px solid lightgray;
    display: flex; 
    flex-direction: column; 
    border-radius: 10px;

}

.card-banner-img { 
    max-width: 100%; 
    object-fit: contain;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.card-content { 
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-content h1 { 
    font-weight: bold; 
    padding-bottom: 1%; 
}

.card-content p { 
    padding-bottom: 1%; 
}

.card-content h2 { 
    color: gray; 
}